
body{
  overflow-x: hidden;
}

h1{
    width:300px;
    height:21px;
    padding-left:128px;
    padding-top:100px;
    font-family: 'Josefin Sans', sans-serif;
   
}

nav{
    display:flex;
}

.sign{
    border: 1px solid  #4756DF;
    background-color: #4756DF;
    width:96px;
    height:31px;
    margin-top:110px;
    margin-left:687px;
    color:white;
    width: 234px;
    height:62px;
    border-radius: 10px ;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding:16px 69px 15px 69px;
    font-family: 'Josefin Sans', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

.head{
height: 175px;
width: 523px;
left: 128px;
font-family: Josefin Sans;
font-size: 56px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
padding-left:128px;


}


.small{
  position: absolute;
width: 441px;
height: 101px;
left: 133px;
top: 350px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: bold !important;
font-size:22px !important;
line-height: 26px;
color:grey;

}
.learn{
    position:absolute;
    height: 428px;
    width: 535.5px;
    left: 785px;
    top: 324px;
    border-radius: 0px;

}

p{
   top:314px;
   
}

.up{
position:absolute;
height: 56px;
width: 210px;
left: 133px;
top: 521px;
border-radius: 9px;
background-color: #4756DFF2;
font-family: Josefin Sans;
font-size: 23px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color:white;
border: 1px solid #4756DFF2;
display:flex;
justify-content: center;
align-items:center ;

}

.lm{
position:absolute;
box-sizing: border-box;
position: absolute;
width: 199px;
height: 56px;
left: 345px;
top: 521px;
border: 2px solid #959090;
border-radius: 9px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 23px;
}

#hw{
height: 37px;
width: 532px;
position: absolute;
left: 454px;
top: 908px;
bottom:556px;
right:454px;
font-family: Josefin Sans;
font-size: 40px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
}

.card{
    width: 329px;
    height: 372px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    
}


.bt{
    margin:29px 41px 5px 18px;
width: 270px;
height: 38px;
text-align:left;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 32px;

}

.st{

width: 285px;
height: 74px;

margin: 5px 25px 5px 18px;
text-align: left;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
 
}

.info{
 
    width: 128px;
    height: 21px;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin: 5px 183px 15px 18px;
text-align:left;

}
.svgs{
   
width: 329px;
height: 185px;
left: 204px;
top: 1026px;
border-radius: 10px 10px 0px 0px;
}

* {
    box-sizing: border-box;
  }
  .row {margin: 0 -5px;}

  .row:after {
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */;
    text-align: center;
    background-color: #f1f1f1;
  }

  #fluid{
   margin:661px 36px 103px 204px
  }

  #calculus{
    margin-left:569px;
    margin-bottom:103px;
    margin-top:-490px;
    margin-right:36px;
  }

  #history{
    margin-left:934px;
    margin-bottom:103px;
    margin-top:-490px;
    margin-right:177px;
  }
  
  
 